[submodule "lib/matlab-glfw3"]
	path = Externals/matlab-glfw3
	url = https://github.com/cafarm/matlab-glfw3
[submodule "lib/MOGL"]
	path = Externals/MOGL
	url = https://github.com/cafarm/MOGL
[submodule "lib/matlab-avbin"]
	path = Externals/matlab-avbin
	url = https://github.com/cafarm/matlab-avbin.git
[submodule "lib/matlab-dwm"]
	path = Externals/matlab-dwm
	url = https://github.com/cafarm/matlab-dwm.git
[submodule "lib/matlab-priority"]
	path = Externals/matlab-priority
	url = https://github.com/cafarm/matlab-priority.git
