[submodule "Externals/matlab-glfw3"]
	path = Externals/matlab-glfw3
	url = https://github.com/cafarm/matlab-glfw3
[submodule "Externals/MOGL"]
	path = Externals/MOGL
	url = https://github.com/cafarm/MOGL
[submodule "Externals/matlab-avbin"]
	path = Externals/matlab-avbin
	url = https://github.com/cafarm/matlab-avbin.git
